@import "common.scss";

$scrollConfig:(hScrollTrackColor:#fff,vScrollTrackColor:#fff,hBarColor:rgb(101, 160, 103),vBarColor:rgb(75, 138, 120));

.#{$prefix}{

  .#{$prefix}-scrollbar-block{
    position:relative;
    border-radius: .5em;
    cursor:pointer;
  }
  %scrollbar{
    position: absolute;
    overflow:hidden;
    z-index:9999;
  }
  .#{$prefix}-scrollbar-ver{
    @extend %scrollbar;
    top:0;
    right:0;
    bottom:0;
    background-color: map-get($scrollConfig,vScrollTrackColor);
    .#{$prefix}-scrollbar-block{
      background-color: map-get($scrollConfig,vBarColor);
      width:100%;
    }
  }
  .#{$prefix}-scrollbar-hor{
    @extend %scrollbar;
    right:0;
    left:0;
    bottom:0;
    background-color: map-get($scrollConfig,hScrollTrackColor);
    .#{$prefix}-scrollbar-block{
      background-color: map-get($scrollConfig,hBarColor);
      height:100%;
    }
  }
}