$prefix:d1012;
.#{$prefix}{
  $rowBorderColor:#000;
  $colBorderColor: #f0f;
  $tableBorderColor:#000;
  $headerBorderColor:#000;
  position: relative;
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  overflow-x: auto;
  &[resize='true']{
    -webkit-user-select: none;
  }
  .#{$prefix}-cell{
    position: absolute;
    left:0;
    right:0;
    border-bottom:1px solid $rowBorderColor;
    border-right:1px solid $colBorderColor;
    box-sizing:border-box;
    overflow: hidden;
    &[html_content='false']{
      overflow:hidden;
      white-space: nowrap;
      display: flex;
      align-items: center;
      justify-content: center;
      >span{
        overflow:hidden;
        text-overflow: ellipsis;
      }
    }

  }
  >*{
    box-sizing: border-box;
  }
  >.#{$prefix}-header{
    position: relative;
    height:30px;
    width:100%;
    overflow:hidden;
    border:1px solid $headerBorderColor;
    .#{$prefix}-cell{
      border-bottom:none;
      height:100% !important;
      &[col-last='true']{
        border-right:none;
      }
    }
  }
  .#{$prefix}-header-content{
    position: relative;
    width:100%;
    height:100%;
  }
  .#{$prefix}-body-container{
    position: relative;
    flex:1;
    width:100%;
    overflow:auto;
    border:1px solid $tableBorderColor;
    border-top:none;
    &[overflowX='true']{
      overflow-x:hidden;
    }
    &[overflowY='true']{
      overflow-y:hidden;
    }
  }
  .#{$prefix}-row-container{
    position: relative;
  }
  .#{$prefix}-row-cursor{
    position: absolute;
    width:1px;
    height:1px;
    font-size:0;
    left:0;
    visibility: hidden;
  }
  $scrollTrackColor: #e4f0e2;
  .scrollbar-block{
    position:relative;
    border-radius: 10px;
    cursor:pointer;
  }
  .scrollbar-ver{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    overflow:hidden;
    background-color: $scrollTrackColor;
    .scrollbar-block{
      width:100%;
    }
  }
  .scrollbar-hor{
    position: absolute;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
    background-color: $scrollTrackColor;
    .scrollbar-block{
      height:100%;
    }
  }
}