$prefix:d1012;
.#{$prefix}{
  $rowBorderColor:#000;
  $colBorderColor: #00f;
  $tableBorderColor:#000;
  $headerBorderColor:#000;
  position: relative;
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
  overflow-x: auto;
  .#{$prefix}-cell{
    position: absolute;
    left:0;
    right:0;
    overflow:hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid $rowBorderColor;
    border-right:1px solid $colBorderColor;
    box-sizing:border-box;
    background-color:#ccc;
    >span{
      overflow:hidden;
      text-overflow: ellipsis;
    }

  }
  >*{
    box-sizing: border-box;
  }
  >.#{$prefix}-header{
    position: relative;
    height:30px;
    width:100%;
    overflow:hidden;
    border:1px solid $headerBorderColor;
    .#{$prefix}-cell{
      border-bottom:none;
      height:100% !important;
    }
  }
  .#{$prefix}-header-content{
    position: relative;
    width:100%;
    height:100%;
  }
  >.#{$prefix}-row-container{
    position: relative;
    flex:1;
    width:100%;
    overflow:auto;
    border:1px solid $tableBorderColor;
    border-top:none;
  }
  .#{$prefix}-row-cursor{
    position: absolute;
    width:1px;
    height:1px;
    font-size:0;
    left:0;
    visibility: hidden;
  }
}